<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Brain Food Project</title>

  <meta name="description" content="">
  <meta name="theme-color" content="#CCCCCC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/public/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/img/apple-touch-icon-114x114.png">

  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

<div class="banner">
  <div class="header">
    <div class="header-inner container clear">
      <h3 class="heading fs-3">The Comeback Community™ Presents: The Brain Food Project™</h3>
      <input type="checkbox" id="navigation-toggle-checkbox" name="navigation-toggle-checkbox" class="navigation-toggle-checkbox none">
      <label for="navigation-toggle-checkbox" class="navigation-toggle-label" onclick>
        <span class="navigation-toggle-label-inner">
          <span class="sr">Navigation</span>
        </span>
      </label>
      <div class="navigation">
        <ul class="navigation-menu">
          <li class="navigation-item"><a href="#home">Home</a></li>
          <li class="navigation-item"><a href="#services">About Us</a></li>
          <li class="navigation-item"><a href="#about">Learn More</a></li>
          <li class="navigation-item"><a href="#consult">Consult</a></li>
          <li class="navigation-item"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="banner-inner">
      <h1 class="banner-lead">
        <span class="banner-lead-1">Holistic Support </span>
        <span class="banner-lead-2">for College Students</span>
      </h1>
      <div class="banner-content col-8-m no-float-m">
        <p>
          The needs of students don't disappear when they get to school. The Brain Food Project™ is here to help.
        </p>
      </div>
      <div class="banner-buttons">
        <a href="#services" class="button button-primary">About Us</a>
        <a href="#about" class="button button-secondary">Learn more</a>
      </div>
    </div>
  </div>
</div>

<div id="services" class="animate-block content-block services-block">
  <div class="services-block-inner container">
    <div class="content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">About Us</h2>
      <div class="col-10-l no-float center">
        <p>
          Hello! Thank you so much for your interest in the Brain Food Project™. I began the Brain Food Project™ in

          the spring of 2015 as a response to two major problems I noticed in practice. The two problems included

          the following: a) low attendance for SI and tutoring sessions and b) food insecurity among college

          students. The Brain Food Project™ is modeled from Skinner's operant conditioning, implementing

          positive reinforcement. The idea behind the Brain Food Project™ is simple-- - provide nutritious and

          popular food items to students when they attend SI and tutoring sessions. Brain Food is presented to

          students in stations on tables, and students may access the food freely and without proving need (mini

          refrigerators store perishable items). Brain Food provides community as well as sustenance for students

          while they work individually or collaboratively. The Brain Food Project™ provides options ranging from

          full meals to snacks. The funding for Brain Food comes from multiple sources including grants,

          community donations, and corporate contributions. Serving students to meet needs and create equity

          to bridge academic and social gaps is at the heart of the program. We set out to normalize receiving

          help by meeting students' basic needs, and we did just that. According to the CCCSE (2012), the average

          attendance rate for supplemental instruction is 18% among community colleges while tutoring has an

          average attendance rate of 24%. Neither of these percentages are promising. In addition to this, food

          insecurity, what I often called the dirty little secret of higher education, has been running rampant in our

          institutions for years. In fact, daily news illuminates the unmet needs of students and the impact on

          their day-to- day lives and academic success. While students are often provided food at school during K-

          12, support with basic needs such as food is not common place in higher education. Albeit uncommon, I

          found that providing food during supplemental instruction and tutoring sessions increased our

          attendance rates from 26% to 85% in one year. What we also found was our students expressed feeling

          cared for authentically. Please take a moment to view the presentation below indicating the details of the

          Brain Food Project™ and the forthcoming handbook and certification process. It is my goal to have the

          Brain Food Project™ on campuses across the country so that we can holistically support student success.

          The Brain Food Project™ handbook, checklist, resources page, and certification process will be available

          very soon. I am also seeking five colleges/universities to pilot the Brain Food Project™. Please contact us

          if you are interested in being considered.
        </p>
      </div>
     <div class="col-10-l no-float center">
       <p>
                                                          -Jennifer,
           Founder of the Comeback Community and Brain Food Project. Winner of the 2016 Stanback Stroud Diversity Award--
      </p>
    </div>
    </div>
  </div>
</div>

<div class="animate-block feature-block contact-feature-block">
  <div class="feature-block-inner container">
    <div class="text-center">
      <h2 class="feature-block-heading">Contact The Brain Food Project™ to be considered as a pilot school! </h2>
      <a class="button button-primary" href="#contact">Contact Us</a>
    </div>
  </div>
</div>

<div id="about" class="content-block about-block">
  <div class="about-block-inner container">
    <div class="animate-block content-block-inner text-center">
      <h2 class="uppercase pad-bottom-20">Learn More</h2>
      <div class="col-10-l no-float center">
        <p>
          Please take a moment to flip through this presentation to learn more about The Brain Food Project™ and how it can be implemented.
        </p>
      </div>
    </div>
    <div class="col-10-l no-float center">
<iframe class="centered" src="//www.slideshare.net/slideshow/embed_code/key/cFZOqt9n0Y3yiI" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> </div>    </div>
      </div>
    </div>
    <div id="consult" class="content-block about-block">
      <div class="about-block-inner container">
        <div class="animate-block content-block-inner text-center">
          <h2 class="uppercase pad-bottom-20">Consult with the Brain Food Project™</h2>
          <div class="col-10-l no-float center">
            <p>
              Here's how we can help you meet student need and increase attendance for Supplemental Instruction and Tutoring on your campus:
            </p>
            <p>
              1) Invite us to speak at your college/university or event (e.g., keynote, full-day workshop, half-day workshop, three day training event); these are offered face-to-face or virtually and can include certification.
            </p>
            <p>
              2) Schedule a  face-to-face or virtual training for faculty, coordinators, leaders, tutors, administration, staff, community, and more (any of these groups can be served together or separately based on your need).
            </p>
            <p>
              3) Become a certified Brain Food Project institution/program
            </p>
            <p>
              4) Pre-order the Brain Food Project book
            </p>
            <p>
              *Please indicate your interest using the above when you email us; we look forward to helping you create a successful Brain Food Project on your campus.
            </p>
          </div>
        </div>
      </div>
    </div>
<div id="contact" class="animate-block content-block contact-block">
  <div class="contact-block-inner container">
    <div class="clear">
      <div class="contact-block-content col-6-m">
        <h2 class="fs-2 heading">The Brain Food Project™</h2>
        <p>
          Thank you for your interest in The Brain Food Project™. Please contact us using the information below.
        </p>
        <ul class="contact-list">
          <li><span class="icon contact-icon contact-icon-email"><a href="mailto:brain.food@comebackcommunity.com?subject=General%20Enquiry&anp;body=">brain.food@comebackcommunity.com</a></span></li>
        </ul>
      </div>
      <!--
      <div class="contact-block-form col-6-m">
        <h2 class="fs-2 heading">Contact</h2>
        <p>
          Please contact us using contact form below.
        </p>
        <form class="contact-form" action="/mail" method="post">
          <fieldset class="contact-form-wrap">
            <legend class="sr">Contact Us</legend>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="name">Name</label>
              <input name="name" class="field" id="name" type="text" placeholder="Name">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="email">Email</label>
              <input name="email" class="field" id="email" type="email" placeholder="Email">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label class="sr" for="subject">Date</label>
              <input name="subject" class="field" id="subject" type="text" placeholder="Subject">
            </div>
            <div class="pad-top-5 pad-bottom-5">
              <label for="message" class="sr">Message</label>
              <textarea placeholder="Message" class="field" name="message" id="message" cols="30" rows="7"></textarea>
            </div>
            <div class="text-right">
              <input type="submit" class="button button-primary contact-submit" value="Send">
            </div>
          </fieldset>
        </form>
      </div>
   -->
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-inner container">
    <div class="clear">
      <div class="footer-column col-8-m">
        <p>
          &copy; Copyright The Brain Food Project 2016 &mdash; All Rights Reserved
        </p>
      </div>
      <div class="footer-column col-4-m">
         <img src="/public/img/transparentlogo.png" width="150">
         </img>
      </div>
    </div>
  </div>
</div>

<script src="/public/js/vendor/wow.js"></script>
<script src="/public/js/default.js"></script>

</body>
</html>
